body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    min-height: 100vh;
    color: hsl(0, 36%, 70%);
}

header {
    margin: 30px;
    display: block;
}

main {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero img {
    width: 100%;
}

.content p {
    line-height: 1.5em;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: normal;
}

h1 strong {
    color: hsl(0, 6%, 24%);
    font-weight: 400;
}

button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: 0;
    border-radius: 50px;
    width: 70px;
    height: 50px;
    box-shadow:0px 5px 30px hsl(0, 36%, 70%);
}

input {
    height: 50px;
    border-radius: 50px;
    border-color: hsl(0, 36%, 70%);
    color:hsl(0, 36%, 70%);
    font-family: inherit;
    background-color: hsla(0, 0%, 0%, 0%);
}



@media screen and (min-width: 600px){
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
     display: flex;
}

 .content {
    background: url(images/bg-pattern-desktop.svg);
 }

 .hero {
    align-self: flex-end;
 }
}